header {
  height: 50px;
  background-color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
}

.card {
  background-image: radial-gradient(
    circle at 100% 50%,
    rgb(150, 210, 248),
    rgb(109, 199, 255)
  );
  padding: 20px;
  box-shadow: 0px 0px 7px #777;
}

.slider-img {
  width: 100%;
  height: auto;
}

.image {
  width: 250px;
  height: 250px;
  padding: 20px;
  float: left;
}

.p-text {
  column-count: 4;
  column-fill: balance;
  column-rule: 1px solid black;
  text-align: justify;
}

footer {
  height: 50px;
  background-color: black;
  color: white;
  text-align: center;
}
